.snackbar__wrapper {
   width: 25vw;
   min-height: 7.2vw;
   display: flex;
   padding: 30px 23px;
   align-items: center;
   background: #ffffff;
   box-shadow: 0px 0px 25px 5px rgba(165, 165, 165, 0.25);
   border-radius: 8px;

   img {
      margin-right: 15px;
   }

   div {
      display: flex;
      flex-direction: column;

      h4 {
         font-family: Roboto;
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
      }

      p {
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 19px;
      }
   }
}
