.account__details {
   display: flex;
   height: 100%;

   .account__details__part {
      display: flex;
      background: #ffffff;
      box-shadow: 0px 0px 25px 5px rgba(165, 165, 165, 0.25);
      border-radius: 10px;

      &--large {
         width: 49.7vw;
         margin-right: 2vw;
         display: flex;
         flex-direction: column;
         padding: 3.3vw 3.3vw 0.5vw 3.3vw;

         &__card-info {
            display: flex;
            margin-bottom: 3.6vw;

            .card__preview {
               margin-right: 2vw;
            }

            .card__info {
               display: flex;
               flex-direction: column;
               justify-content: center;
               width: 100%;

               &__block {
                  margin-bottom: 1vw;

                  &:last-child {
                     margin-top: 0.5vw;
                     margin-bottom: 0;
                  }

                  h2 {
                     font-family: Roboto;
                     font-style: normal;
                     font-weight: 500;
                     font-size: 1.3vw;
                     line-height: 1.5vw;
                     color: #000000;
                     margin-bottom: 0.2vw;
                  }

                  h3 {
                     font-family: Montserrat;
                     font-style: normal;
                     font-weight: 600;
                     font-size: 0.9vw;
                     line-height: 1.14vw;
                     color: #000000;
                  }

                  h4 {
                     font-family: Montserrat;
                     font-style: normal;
                     font-weight: 500;
                     font-size: 1.3vw;
                     color: #7f3997;
                  }

                  h5 {
                     font-family: Montserrat;
                     font-style: normal;
                     font-weight: 500;
                     font-size: 0.7vw;
                     color: #7c7c7c;
                  }

                  p {
                     font-family: Montserrat;
                     font-style: normal;
                     font-weight: normal;
                     font-size: 0.8vw;
                     line-height: 1vw;
                     color: #000000;
                  }
               }
            }
         }

         &__transactions {
            overflow: hidden;

            &__headline {
               font-family: Roboto;
               font-style: normal;
               font-weight: 500;
               font-size: 1.4vw;
               color: #000000;
            }

            .transactions__list {
               height: 100%;
               overflow-y: scroll;

               &::-webkit-scrollbar {
                  display: none;
               }
               

               &__element {
                  padding: 0.5vw 1vw;
                  min-height: 5.7vw;
   
                  &__headline {
                     margin-bottom: 1vw;
                  }
               }
            }
         }
      }

      &--small {
         width: 24.5vw;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-evenly;

         h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 1.45vw;
            line-height: 1.7vw;
            color: #000000;
            margin-bottom: 1vw;
         }

         .graphical__circle {
            display: flex;
            flex-direction: column;
            align-items: center;

            .out-circle {
               display: flex;
               justify-content: center;
               align-items: center;
               width: 15.8vw;
               height: 15.8vw;
               border-radius: 50%;
               background: linear-gradient(90deg, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%);

               &--child {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 14vw;
                  height: 14vw;
                  border-radius: 50%;
                  background: white;

                  &--child {
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 11.1vw;
                     height: 11.1vw;
                     border-radius: 50%;
                     background: linear-gradient(90deg, #a8bfff 0%, #884d80 100%);

                     &--child {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 10vw;
                        height: 10vw;
                        border-radius: 50%;
                        background: white;

                        p {
                           font-family: Montserrat;
                           font-style: normal;
                           font-weight: 600;
                           font-size: 1.5vw;
                           line-height: 1.9vw;
                           text-align: center;
                           letter-spacing: 0.065em;
                           color: #7f3997;
                           text-align: center;
                           word-spacing: 600px;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
