<div class="terminal__component">
   <div class="terminal__component__header">
      <p class="terminal__component__headline">Enter a data for transaction</p>
   </div>
   <div class="terminal__component__details">
      <form [formGroup]="paymentForm">
         <div class="input_wrapper">
            <h3>Enter receiver card number</h3>
            <input type="text" placeholder="Enter card number" formControlName='receiverCardNumber'>
         </div>

         <div class="input_wrapper">
            <h3>Enter transaction amount</h3>
            <input type="text" placeholder="Enter amount" formControlName='transactionAmount'>
         </div>

         <div class="input_wrapper">
            <h3>Choose a account for transaction</h3>
            <mat-select placeholder="Choose type" formControlName='senderCardId' (selectionChange)="selectCard($event)">
               <mat-option value="{{option._id}}" *ngFor="let option of userCards">{{ option.name }} ({{
                  option.balance }}{{ option.currencyType }})</mat-option>
            </mat-select>
         </div>

         <div class="input_wrapper">
            <h3>Enter transaction description</h3>
            <textarea type="text" placeholder="Enter description" formControlName='description'></textarea>
         </div>

         <button mat-button type="button" class="main_btn" (click) = "createTransaction()">pay</button>
      </form>
      <img src="../../../../../assets/images/terminal.svg">
   </div>
</div>